body{
    background-image: url(/images/background.jpg);
    background-size: cover;
    margin: 0; 
    padding: 0; 
    height: 100vh;
    
}
:root{
    --primary-color:#fbfcfd;

}
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    margin-top: 0.5rem;
}

.navigation .nav-pills {
    text-align: right;
    margin: 3rem 1rem;
}

.navigation .link {
    color: var(--primary-color);
}

.navigation .link-active {
    text-decoration: none;
}

.navigation .link-actived {
    color: black;
    border: 1px hidden;
    border-radius: 1rem;
}
img{
    height: 15px;
    width: 30px;
    background: transparent;
}
.navigation .nav-mid{
    text-align: center;
    margin: 0.6rem 1rem;
    position: absolute;
    top: 73%;
    left: 27%;
}
button{
    position: absolute;
    top: 80%;
    left:45%;
    padding: 0.7rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 2rem;
}
@media screen and (max-width: 600px)
{
    body{
        background-image: url(/images/back.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .navigation .nav-mid{
        text-align: center;
        margin: 0.6rem 1rem;
        position: absolute;
        top: 53%;
        left: -15%;
    }
    button{
        position: absolute;
        top: 62%;
        left:35%;
        padding: 0.5rem;
        border: none;
        background-color: var(--primary-color);
        border-radius: 2rem;
    }
}